@use "./scss/index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: $font-family;
  overflow-x: hidden;
}

.loader {
  @include align-center;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;

  &__top,
  &__bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #000;
  }

  &__top {
    top: 0;
  }
  &__bottom {
    bottom: 0;
  }

  &-spinner {
    position: absolute;
    top: 50%;
    z-index: 2;
    height: 1px;
    background-color: $primary-color;
  }
}

.top {
  position: sticky;
  top: 0;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;

  .logo {
    padding: 5rem 0rem 0rem 6rem;
    @media (max-width: 1024px) {
      padding: 2.5rem;
      @include flex-center;
    }
    &__image {
      width: 12vw;
      max-width: 10vw;

      @media (max-width: 1024rem) {
        width: 20vw;
      }
    }
  }

  .nav-scroll {
    @include align-center;
    position: absolute;
    bottom: 3.5rem;
    left: 6rem;
    background-color: $black-600-color;
    height: 1px;
    @include set-width(11.5);

    @media (max-width: 1024px) {
      display: none;
    }

    &__pin {
      background-color: $primary-color;
      height: 2px;
      @include set-width(1);
    }
  }
}

.navbar {
  @include align-center;
  z-index: 3;
  position: absolute;
  top: 50%;
  right: -14.625rem;
  flex-direction: row-reverse;
  transform: rotate(-90deg);
  gap: 5rem;

  @media (max-width: 1024px) {
    z-index: 12;
    position: relative;
    top: 0;
    padding: 0rem 1.25rem;
    flex-direction: row;
    transform: none;
    right: 0;
  }

  &__primary,
  &__secondary {
    display: flex;
    list-style: none;
  }

  &__primary {
    font-size: 0.875rem;
    font-weight: 700;
    gap: 2.25rem;
    text-transform: uppercase;

    @media (max-width: 1024px) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: 1.125rem;
      color: $primary-color;
    }
  }

  &__secondary {
    color: $gray-600-color;
    font-size: 0.688rem;
    font-weight: 400;
    gap: 1.25rem;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.app-download {
    z-index: 12;
  position: absolute;
  bottom: 0;
  padding: 0 0 6rem 6rem;

  @media (max-width: 1024px) {
    z-index: 10;
    left:10%;
    padding: 0;
    bottom: 0;
  }

  &__links {
    color: $primary-color;
    text-decoration: none;

    &--apple,
    &--android {
      @include set-width(9.25);
      cursor: pointer;
    }

    &--apple {
      margin-right: 0.5rem;
    }
  }
}

.bg-scroll {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 400vh;

  &__item {
    display: grid;
    grid-template-columns: 6.5vw repeat(4, 1fr) 6.5vw;
    grid-template-rows: repeat(10, auto);
    height: 100vh;
  }

  &__box {
    background-color: $black-color;
    color: $black-800-color;
    font-size: 0.625rem;
    font-weight: 400;
    padding: 1.188rem 1.313rem;
    display: flex;
    justify-content: space-between;
  }

  @for $i from 1 through 22 {
    .bg#{$i} {
      @if $i == 1 {
        grid-area: 2/4/4/5;
      } @else if $i == 2 {
        grid-area: 1/3/1/3;
      } @else if $i == 3 {
        grid-area: 5/3/8/5;
      } @else if $i == 4 or $i == 9 or $i == 15 or $i == 20 {
        grid-area: 10/6/11/7;
      } @else if $i == 5 {
        grid-area: 4/5/5/7;
      } @else if $i == 6 or $i == 17 {
        grid-area: 2/5/5/6;
      } @else if $i == 7 or $i == 18 {
        grid-area: 1/2/3/3;
      } @else if $i == 8 or $i == 19 {
        grid-area: 5/4/7/5;
      } @else if $i == 10 {
        grid-area: 5/6/6/7;
      } @else if $i == 11 or $i == 22 {
        grid-area: 9/1/11/2;
      } @else if $i == 12 {
        grid-area: 2/4/5/5;
      } @else if $i == 13 {
        grid-area: 2/2/3/3;
      } @else if $i == 14 {
        grid-area: 5/3/8/5;
      } @else if $i == 16 {
        grid-area: 4/6/5/7;
      } @else if $i == 21 {
        grid-area: 6/6/8/7;
      }
    }
  }
}

.bg-lines {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 0vw 6.5vw;

  &__line {
    width: 0.063rem;
    height: 100%;
    background-color: $black-700-color;
  }
}

.title {
  position: absolute;
  z-index: 1;
  display: flex;
  top: 25%;
  padding-left: 7vw;
  overflow: hidden;

  @media (max-width:1024px) {
    top: 50%;
  }

  &__message {
    font-size: 16vh;
    font-weight: 500;
    line-height: 40vh;
    width: 100vw;
    white-space: nowrap;
    @media (max-width:1024px) {
      font-size: 6vh;
      line-height: 7vh;
      white-space: inherit;
    }
  }

}

.main {
  &-content {
    @include flex-center;
    width: 100%;
    height: 100vh;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &-description {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #0000;
    z-index: 2;
    .left-align {
      @include flex-end;
      height: 100vh;
      padding-right: 10vw;
      @media (max-width: 1024px) {
        padding-right: 8vw;
      }
    }
    &--content {
      display: flex;
      width: 21vw;
      flex-direction: column;
      transform-origin: 50% 0;
      @media (max-width: 1024px) {
        background-color: rgba(34, 34, 34);
        width: 60%;
        height: auto;
        padding: 4% 5%;
        display: block;
        align-items: flex-start;
        align-self: center;
      }
    }

    @each $name,
      $height
        in (
          feed: 125vh,
          friends: 175vh,
          search: 125vh,
          news: 125vh,
          profile: 124vh,
          slot: 120vh
        )
    {
      &__#{$name} {
        height: $height;
      }
    }
  }

  &-side {
    @include flex-start;
    z-index: 1;
    background-color: #0000;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    &__scroll {
      width: 100%;
      height: auto;

      &--wrapper {
        width: 100vw;
        height: 30vh;
        display: flex;
        position: relative;
        overflow: hidden;
      }
    }
  }
}

.main-side__scroll--wrapper {
  @each $title in feed, friends, search, news, profile, slot {
    .side-title-#{$title} {
      @include flex-start;
      flex-direction: column;
      height: 100%;
      padding-left: 7vw;
      position: fixed;
      top: 0;
      opacity: 0;

      .side-title__header {
        font-size: 10vh;
        font-weight: 600;
      }
    }
  }
}

.content__title {
  font-size: 4.6vh;
  font-weight: 600;
}

.content__description {
  width: auto;
  font-size: 2.2vh;
  font-weight: 300;
  margin-top: 1.25rem;
  transform-origin: 0%;
  color: $white-200-color;
}

.phone {
  &-container {
    @include flex-center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    height: 48rem;
    top: 0;
    margin-top: 1.375rem;

    @media (max-width: 1024px) {
      top: 20%;
      align-items: start;
      height: 34.375rem;
    }
  }

  &-mockup {
    z-index: 10;
    background-image: url(../src/assets/images/phone-mockup.png);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 48rem;
    @include set-width(24.875);
    transform: translate3d(0px, 100vh, 0px) scale3d(0.75, 0.75, 1);

    @media (max-width: 1024px) {
      align-items: start;
      height: 33.75rem;
      background-size: contain;
    }
  }

  &-content {
    z-index: 2;
    position: relative;
    height: 45.625rem;
    width: 22.5rem;
    background-color: $black-primary-color;

    @media (max-width: 1024px) {
      align-items: start;
      height: 34.375rem;
    }
  }
  &-media-box-wrapper {
    @include flex-center;
    width: 100%;
    flex-direction: column;
    position: absolute;
    height: 48rem;
    top: 0;
    margin-top: 1.375rem;

    @media (max-width: 1024px) {
      align-items: center;
      height: 34.375rem;
      top: 20%;
      @include set-width(24.875);
    }
  }

  &-media-box {
    z-index: 2;
    background-color: $black-primary-color;
    width: 22.5rem;
    height: 45.625rem;
    position: relative;
    transform: translate3d(0px, 100vh, 0px) scale3d(1, 1, 1);

    @media (max-width: 1024px) {
      align-items: start;
      height: 32.5rem;
      width: 16rem;
    }

    &__images {
      width: 100%;
      height: 45.625rem;
      position: absolute;
      top: 28%;
      left: 0;
      z-index: 1;
      @media (max-width: 1024px) {
        align-items: start;
        height: 33.75rem;
      }

      &--1,
      &--2,
      &--3,
      &--4,
      &--5 {
        background-position: 50% 0;
        background-size: cover;
        width: 23.75rem;
        height: 16.813rem;
        position: absolute;
        top: 0;
        left: 0;

        @media (max-width:1024px) {
          width: 11rem;
          height: 11rem;
        }
      }
      &--1 {
        background-image: url(../src/assets/images/banner/1.jpg);
        transform: translate3d(39vw, -120vh, 0px) scale3d(1, 1, 1);

        @media (max-width:1024px) {
          transform: translate3d(0vw, -60vh, 0px) scale3d(1, 1, 1);
        }
      }

      &--2 {
        background-image: url(../src/assets/images/banner/2.jpg);
        transform: translate3d(41vw, -60vh, 0px) scale3d(1, 1, 1);
        
        @media (max-width:1024px) {
          transform: translate3d(45vw, -50vh, 0px) scale3d(1, 1, 1);
        }
      }

      &--3 {
        background-image: url(../src/assets/images/banner/3.jpg);
        transform: translate3d(14vw, -55vh, 0px) scale3d(1, 1, 1);
        height: 12.5rem;
        
        @media (max-width:1024px) {
          height: 9.5rem;
          transform: translate3d(22vw, -40vh, 0px) scale3d(1, 1, 1);
        }
      }

      &--4 {
        background-image: url(../src/assets/images/banner/4.jpg);
        transform: translate3d(18vw, -100vh, 0px) scale3d(1, 1, 1);
        height: 23.75rem;
        
        @media (max-width:1024px) {
          height: 16.75rem;
          transform: translate3d(25vw, -80vh, 0px) scale3d(1, 1, 1);
        }
      }

      &--5 {
        background-image: url(../src/assets/images/banner/5.jpg);
        transform: translate3d(41vw, -95vh, 0px) scale3d(1, 1, 1);
        height: 21.25rem;
        
        @media (max-width:1024px) {
          transform: translate3d(50vw, -85vh, 0px) scale3d(1, 1, 1);
          height: 18.25rem;
        }
      }
      &--6 {
        background-image: url(../src/assets/images/banner/6.jpg);
        background-size: cover;
        transform: translate3d(30vw, -80vh, 0px) scale3d(1, 1, 1);
        height: 22.5rem;
        
        @media (max-width:1024px) {
          transform: translate3d(28vw, -70vh, 0px) scale3d(1, 1, 1);
          height: 10.5rem;
        }
      }
    }
  }

  &-media-images {
    transform: scale3d(0.75, 0.75, 1);
  }

  &-bg {
    width: 22.5rem;
    height: 45.625rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;

    @media (max-width: 1024px) {
      align-items: start;
      top: 0.625rem;
      height: 31.75rem;
      width: 15.70rem;
    }

    &__image {
      border-radius: 2.75rem;
      opacity: 1;
      background-color: $primary-color;
      height: 100%;
      position: relative;
      z-index: 5;
      overflow: hidden;

      @media (max-width: 1024px) {
        border-radius: 1.75rem;
      }

      &--1 {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-notch {
    z-index: 70;
    background-color: $black-primary-color;
    border-top-left-radius: 2.75rem;
    border-top-right-radius: 2.75rem;
    justify-content: center;
    align-items: flex-start;
    height: 3.438rem;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;

    @media (max-width: 1024px) {
      height: 2.063rem;
      border-top-left-radius: 1.75rem;
      border-top-right-radius: 1.75rem;
    }

    &__image {
      max-width: 100%;
    }
  }

  &-flow {
    z-index: 4;
    width: 22.5rem;
    height: 45.625rem;
    position: relative;
    border-radius: 2.375rem;
    overflow: hidden;

    @media (max-width: 1024px) {
      height: 32.5rem;
      width: 15.75rem;
    }

    &__welcome {
      @include flex-center;
      position: absolute;
      transform: translate(0, 100vh);
      flex-direction: column;
      height: 100%;
      top: 0rem;

      &--images {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;

        &-img {
          border-radius: 2.375rem;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }

    &__navbar {
      height: 4.375rem;
      width: 100%;
      display: flex;
      position: absolute;
      transform: translate(0, 10vh);
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;

      &--image {
        border-bottom-right-radius: 2.75rem;
        border-bottom-left-radius: 2.75rem;
        max-width: 100%;
        vertical-align: middle;
      }
    }

    &__feed {
      width: 100%;
      position: absolute;
      transform: translate(0, 100vh);

      &--image {
        max-width: 100%;
        vertical-align: middle;
      }
    }

    &__friends {
      @include align-center;
      position: absolute;
      flex-direction: column;
      width: 22.5rem;
      transform: translate(0vh, 100vh);

      &--header {
        @include flex-center;
        background-image: url(../src/assets/images/device/friends/imgHeader.png);
        background-position: 50% 0;
        background-size: 100%;
        padding: 1.5rem 0.625rem;
        flex-direction: column;
        width: 22.5rem;
        background-color: $primary-color;
        background-repeat: no-repeat;

        &-wrapper {
          @include align-center;
          flex-direction: column;
          position: relative;
          margin: 0.625rem 0rem;
          width: 100%;
        }

        &-img {
          width: 2.875rem;
          height: 2.875rem;
          max-width: 100%;
          vertical-align: middle;
        }
      }

      &--feed {
        background-image: url(../src/assets/images/device/friends/imgFeed.jpg);
        background-color: $primary-color;
        background-size: cover;
        width: 100%;
        height: 43.75rem;
      }
    }

    &__search {
      width: 100%;
      position: absolute;
      transform: translate(0, 100vh);

      &--image {
        max-width: 100%;
        height: 45.625rem;
        vertical-align: middle;
      }
    }
    &__news {
      width: 100%;
      position: absolute;
      transform: translate(0, 100vh);

      &--image {
        max-width: 100%;
        height: 45.625rem;
        vertical-align: middle;
      }
    }
    &__profile {
      width: 100%;
      position: absolute;
      transform: translate(0, 100vh);

      &--image {
        max-width: 100%;
        height: 45.625rem;
        vertical-align: middle;
      }
    }

    &__slots {
      height: 45.625rem;
      width: 22.5rem;
      background-image: url(../src/assets/images/device/slots/imgDescription.jpg);
      background-size: cover;
      position: absolute;
      transform: translate(0, 100vh);
    }
  }
  &-expand {
    width: 100%;
    height: 19.75rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../src/assets/images/device/expand/main.jpg);
    background-size: cover;

    @media (max-width: 1024px) {
      align-items: start;
      height: 16.875rem;
    }
  }

  &-burst-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 22.5rem;
    height: 45.625rem;
    flex-direction: column;
    z-index: 7;
    opacity: 0;

    @media (max-width: 1024px) {
      align-items: start;
      height: 33.75rem;
      width: 16rem;
    }

    .burst-img-style {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      height: 20rem;
      border-top-left-radius: 2.75rem;
      border-top-right-radius: 2.75rem;
      transform: translate(0px, 0px);
    }

    &__image1 {
      background-image: url(../src/assets/images/device/expand/main.jpg);
      z-index: 6;
    }
    &__image2 {
      background-image: url(../src/assets/images/device/expand/img2.jpeg);
      z-index: 5;
    }
    &__image3 {
      background-image: url(../src/assets/images/device/expand/img3.jpg);
      z-index: 4;
    }
    &__image4 {
      background-image: url(../src/assets/images/device/expand/img4.jpg);
      z-index: 3;
    }
    &__image5 {
      background-image: url(../src/assets/images/device/expand/img5.jpg);
    }
    &__image6 {
      background-image: url(../src/assets/images/device/expand/img6.jpg);
    }
  }
}

.wide-space {
  height: 150vh;
  width: 100%;
}
