$primary-color: #ffffff;
$secondary-color: #009999;
$background-color: rgba(31,31,31);
$black-primary-color: #0000;
$black-color: #00000014;
$black-600-color: #ffffff26;
$black-700-color: rgba(105, 105, 105, 0.15);
$black-800-color: #ffffff12;
$gray-600-color: #fff6;
$white-200-color: #ffffffbf;
$font-family: "Inter", sans-serif;
$border-radius: 10px;
$transition-speed: 0.5s;
$loader-size: 120px;
$navbar-height: 60px;
$z-index-fixed: 1000;